body {
    margin: 0;
    font-family: 'Georgia', serif;
    background-color: #f5f0ea;
    color: #a32668;
}
section {
    padding: 60px 20px;
    text-align: center;
}
.container {
    max-width: 900px;
    margin: auto;
}

/* INTRO */
.intro {
    background-color: #8a5c76;
    color: rgb(156, 130, 174);
}

/* EDUCATION */
.education {
    background-color: #8c6034;
}

/* SKILLS */
.skills {
    background-color: #3e4980;
    color: rgb(155, 58, 116);
}

.skill-bar {
    background: #eee;
    border-radius: 20px;
    margin: 10px 0;
    overflow: hidden;
}

.skill-fill {
    background: #5c4a3d;
    padding: 5px;
    color: white;
    text-align: right;
}
/* CONTACT */
.contact {
    background-color: #f0e6dc;
}

input, textarea {
    width: 80%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #5c4a3d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #d0591e;
}
.footer {
    background-color: #5e3b1d;
    color: rgb(144, 44, 44);
    padding: 30px;
}